*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    overflow-x: hidden;
    outline: none;
    scroll-behavior: smooth;
    user-select: none;
}

/* Make Scrollbar Transparent */

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  @media (min-width: 0px) and (max-width: 767px) {
  
    .sideNav{
        background-color: rgba(24, 24, 24, 1);
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 1;
        display: flex;
    }
    
    .logo{
        height: 47px;
        margin-top: 8px;
        margin-right: 25vh;
    }

    .main{
        text-align: center;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(37, 38, 39);
    }

    .takeCare{
        display: flex;
    }

    #home{
        margin-top:12px;
    }

    #homeSel{
        margin-top: 12px;
    }

    .options{
        margin: 8px 0;
    }

    .head{
        color: white;
        margin-top: 15vh;
        margin-bottom: 25px;
        font-family: russo one, sans-serif;
        font-size: 6.6vh;
        cursor: default;
    }

    .subHead{
        margin: 3vh 1vw;
        min-width: 40vw;
        max-width: 760px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 3.3vh;
    }

    .htmler, .csser, .bstrap, .jser, .noder, .mongo, .npmer, .git{
        margin: 3px 3px;
        transition: 0.2s;
    }

    .htmler:hover, .csser:hover, .bstrap:hover, .jser:hover, .noder:hover, .mongo:hover, .npmer:hover, .git:hover{
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

/* Tablets -> Laptops -> Desktop */

@media (min-width: 768px) and (max-width: 1920px) {
  
    .sideNav{
        background-color: rgba(24, 24, 24, 1);
        height: 100%;
        width: 60px;
        text-align: center;
        position: fixed;
        z-index: 1;
    }
    
    .logo{
        height: 47px;
        margin-left: -4px;
        margin-top: 15px;
        margin-bottom: 20vh;
        
    }

    .main{
        padding-left: 110px;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(37, 38, 39);
    }


    .options{
        margin: 12px 0;
    }

    .head{
        color: white;
        margin-top: 22vh;
        margin-bottom: 25px;
        font-family: russo one, sans-serif;
        font-size: 6.6vh;
        cursor: default;
    }

    .subHead{
        margin: 3vh 1vw;
        min-width: 40vw;
        max-width: 760px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 3.3vh;
    }

    .htmler, .csser, .bstrap, .jser, .noder, .mongo, .npmer, .git{
        margin: 3px 3px;
        transition: 0.2s;
    }

    .htmler:hover, .csser:hover, .bstrap:hover, .jser:hover, .noder:hover, .mongo:hover, .npmer:hover, .git:hover{
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
    
